h1 {
	text-align: center;
	padding-top: 50px;
}
.form-container {
	background-color: #ffffff;
	border-radius: 50px;
	margin: 10px;
}
.form-fields {
	display: flex;
	flex-wrap: wrap;
	padding: 20px 50px 50px;
	align-items: end;

	&-container {
		flex: calc(50%);
		align-items: center;
		margin-bottom: 0px;
		// display: flex;

		.checkbox-container {
			display: flex;
			align-items: center;
		}

		.field-label {
			margin-right: 10px;
			color: #121517;
		}

		.field {
			border: 2px solid #fcbc06;
			border-radius: 10px;
			padding: 7px;
		}

		.error-container {
			height: 20px;
			margin: 8px 0px 8px;
			color: red;
			font-weight: 500;
		}
	}
}

.primary-button {
	border: 2px solid #fcbc06;
	padding: 10px 18px;
	border-radius: 50px;

	&:hover {
		background-color: #fcbc06;
		color: black;
		border: 2px solid none;
	}
}
